body {
    height: 800px;
}

.wrapper {
	position: relative;
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.c-monthyear {
	margin: 20px 0;
}

.c-monthyear .c-float {
	float: left;
	width: 50%;
	text-align: center;
	color: white;
	font-size: large;
}

.prev, .next, .c-paginator-month, .c-paginator-year {
    width: 30%;
    display: inline-block;
}

.prev p, .next p {
    border-radius: 25px;
    background-color: #004585;
}

.prev:hover p, .next:hover p {
    background-color: #003b71;
    cursor: pointer;
}

.c-calendar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.c-calendar-style {
	background-color: #00407b;
	margin: 20px;
	padding: 10px;
}

.c-cal-container {
	position: relative;
	width: calc(100% - 300px);
	width: -webkit-calc(100% - 300px);
	height: 0;
	padding-bottom: 58%;
	overflow: hidden;
}

.c-main {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 10px;
}

.c-cal-row {
	display: flex;
	justify-content: flex-start;
}

.c-cal-col {
	width: calc(100% / 7);
	width: -webkit-calc(100% / 7);
	text-align: center;
	height: 50px;
	line-height: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.c-cal-cel {
	position: relative;
	width: calc(100% / 7);
	width: -webkit-calc(100% / 7);
	text-align: center;
}

.c-cal-cel p {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 36%;
	width: 40px;
	height: 40px;
	line-height: 40px;
    background: #004585;
    cursor: pointer;
}

.c-cal-cel p {
	border-radius: 25px;
}

.c-cal-cel p, .c-cal-col {
	color: white;
}

.c-cal-cel::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.c-cal-cel:hover p {
	background-color: #003b71;
}

.c-cal-cel.isSelected {
	background-color: #004b8f;
}

.c-cal-cel.isSelected p {
	background: #003b71;
}

.c-cal-cel.isToday {
	background-color: fade(#f57170, 20%);
}

.c-cal-cel.isToday p {
	background: fade(#f57170, 40%);
}

.c-cal-cel.other_month {
	color: fade(#fff, 20%);
}

.today {
    background-color: #003b71!important;
}

.active {
    color: #FFD700!important;
}

.c-aside {
	width: 300px;
	padding: 20px;
}

.c-aside-day {
    font-size: x-large;
    color: white;
    margin: 10px 0;
    text-align: center;
}

#today-data {
    font-size: large;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}

#today-data .data {
    text-align: center;
}

#today-data div {
    margin-bottom: 5px;
}