.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.calendar {
    background-image: url('/static/media/calendar.svg');
    height: 40px;
    cursor: pointer;
    margin-left: 10%;
}

.eat {
    background-image: url('/static/media/eating.svg');
}

.lose {
    background-image: url('/static/media/runner.svg');
}

.bad {
    background-image: url('/static/media/x.png');
}

.good {
    background-image: url('/static/media/check.png');
}

.protein {
    background-image: url('/static/media/proteins.svg');
}

.carbohydrates {
    background-image: url('/static/media/carbohydrates.svg');
}

.fats {
    background-image: url('/static/media/fats.svg');
}

.steps {
    background-image: url('/static/media/footstep.svg');
}

.workout {
    background-image: url('/static/media/stopwatch.svg');
}

.weight {
    background-image: url('/static/media/scale.svg');
}

.heart {
    background-image: url('/static/media/heartbeat.svg');
}

#today-data .plus {
    background-image: url('/static/media/plus2.svg');
    width: 25px;
    margin-left: 5px;
}

#today-data .minus {
    background-image: url('/static/media/minus.svg');
    width: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

#today-data .minus:hover {
    cursor: pointer;
    opacity: 0.5;
}

#today-data .plus:hover {
    cursor: pointer;
    opacity: 0.5;
}

.breakfast {
    background-image: url('/static/media/breakfast.svg');
}

.lunch {
    background-image: url('/static/media/meat.svg');
}

.dinner {
    background-image: url('/static/media/sandwich.svg');
}

.other-meals {
    background-image: url('/static/media/food.svg');
}

.water {
    background-image: url('/static/media/water.svg');
}

.edit {
    background-image: url('/static/media/edit.svg');
}

.trash {
    background-image: url('/static/media/trash.svg');
}

#meals .image.plus {
    background-image: url('/static/media/plus.svg');
}

.arrow-down {
    background-image: url('/static/media/down-arrow.svg');
}

.arrow-up {
    background-image: url('/static/media/up-arrow.svg');  
}

.down-arrow {
    background-image: url('/static/media/arrow-down.svg');
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.up-arrow {
    background-image: url('/static/media/arrow-up.svg');
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.empty-bottle {
    background-image: url('/static/media/water-cup-empty.svg');
}

.full-bottle {
    background-image: url('/static/media/water-cup-full.svg');
}

.archery {
    background-image: url('/static/media/archery.svg');
}

.badminton {
    background-image: url('/static/media/badminton.svg');
}

.basketball {
    background-image: url('/static/media/basketball.svg');
}

.bike {
    background-image: url('/static/media/bicycle.svg');
}

.billiard {
    background-image: url('/static/media/billiard.svg');
}

.bowling {
    background-image: url('/static/media/bowling.svg');
}

.boxing {
    background-image: url('/static/media/boxing.svg');
}

.canoe {
    background-image: url('/static/media/canoe.svg');
}

.climbing {
    background-image: url('/static/media/climbing.svg');
}

.diving {
    background-image: url('/static/media/scuba.svg');
}

.fencing {
    background-image: url('/static/media/fencing.svg');
}

.football {
    background-image: url('/static/media/football.svg');
}

.golf {
    background-image: url('/static/media/golf.svg');
}

.gym {
    background-image: url('/static/media/gym.svg');
}

.gymnastics {
    background-image: url('/static/media/gymnastics.svg');
}

.hockey {
    background-image: url('/static/media/hockey.svg');
}

.ice-skate {
    background-image: url('/static/media/ice-skate.svg');
}

.martial-arts {
    background-image: url('/static/media/judo.svg');
}

.running {
    background-image: url('/static/media/running.svg');
}

.skateboard {
    background-image: url('/static/media/skateboard.svg');
}

.skiing {
    background-image: url('/static/media/skiing.svg');
}

.snowboard {
    background-image: url('/static/media/snowboarding.svg');
}

.surfing {
    background-image: url('/static/media/surf.svg');
}

.swimming {
    background-image: url('/static/media/swimmer.svg');
}

.table-tennis {
    background-image: url('/static/media/table-tennis.svg');
}

.tennis {
    background-image: url('/static/media/tennis.svg');
}

.windsurfing {
    background-image: url('/static/media/windsurf.svg');
}

.volleyball {
    background-image: url('/static/media/volleyball.svg');
}

.yoga {
    background-image: url('/static/media/lotus.svg');
}

.size-25 {
    height: 25px;
    width: 25px;
}

.size-30 {
    height: 30px;
    width: 30px;
}

.size-40 {
    height: 40px;
    width: 40px;
}