html, body {
    height: auto
}

.plus {
    text-align: right;
  display:inline-block;
  width:50px;
  height:50px;

  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #000;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
  transition: all 1s;
}

.alt {
  background:
    linear-gradient(#000,#000),
    linear-gradient(#000,#000);
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}
.radius {
  border-radius:50%;
}

.plus:hover{
    background:
        linear-gradient(#000,#000),
        linear-gradient(#000,#000),
        #fff;

    cursor: pointer;
}

.meal-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#breakfast .meal-image {
    background-image: url('/static/media/breakfast.svg');
}

#lunch .meal-image {
    background-image: url('/static/media/meat.svg');
}

#dinner .meal-image {
    background-image: url('/static/media/sandwich.svg');
}

#other_meals .meal-image {
    background-image: url('/static/media/food.svg');
}

#water .meal-image {
    background-image: url('/static/media/water.svg');
}

#menu {
    text-align: right;
}

#menu img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#menu img:hover {
    cursor: pointer;
}