body {
    color: white;
}

.wrapper {
	position: relative;
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.p-panel {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.p-panel-style {
	background-color: #00407b;
	margin: 20px;
	padding: 10px;
}

.p-panel-container {
	position: relative;
	width: calc(100% - 300px);
	width: -webkit-calc(100% - 300px);
    overflow: hidden;
    text-align: center;
}

.p-aside {
	width: 300px;
    padding: 20px;
    color: white;
}

#user-export, #user-products {
    display: none;
}

#user-panel h1 {
    text-align: center;
}

#account-data div a {
    color: white;
    margin-left: 15px;
    text-decoration: underline;
    opacity: 0.8;
}

.data-headers {
    margin-top: 15px;
    display: flex;
}

.data-headers h3 {
    flex-basis: 50%;
}

.user-data {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.goal-data {
    margin-left: 15%;
    text-align: left;
}

.personal-data {
    margin-right: 15%;
    align-self: center;
    text-align: left;
}

#user-products-list p {
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}

.p-panel .p-aside h1 {
    text-align: center;
    text-decoration: underline;
}

#user-panel-menu p {
    width: 100%;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    padding: 10px;
}

#user-panel-menu p:hover {
    background-color: steelblue;
}

.sub-header {
    width: 100%;
}

.search {
    display: inline-block;
    width: 70%;
    margin-left: 2%;
}

.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.add-button {
    display: inline-block;
    width: 25%;
}

.p-panel-container button {
    margin-right: 20px;
}

.product {
    width: 100%;
    height: 130px;
    border-bottom: solid 1px white;
    padding: 20px 0;
}

.product:nth-child(1) {
    border-top: solid 1px white;
}

.product-data {
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: medium;
}

.product .product-name {
    font-size: x-large;
    font-weight: 700;
}

.product-name, .product-portion, .product-manufacturer, .product-kcal {
    width: 45%;
}

.product-protein, .product-carbohydrates, .product-fats {
    width: 30%;
}

.product-details {
    width: 90%;
    display: inline-block;
    height: 100%;
}

.product-options {
    width: 10%;
    display: inline-block;
    height: 100%;
    padding: 10px 0;
}

.product-options div {
    cursor: pointer;
}

.product-options div:first-child {
    margin-bottom: 15px;
}
.export-dates {
    margin-top: 20px;
}

.export-checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.export-checkbox .form-check {
    flex-basis: 50%;
    text-align: left;
}
