{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" href="/static/css/analyze.css">
    <link rel="stylesheet" href="/static/css/images.css">
    <script src="/static/scripts/analyze.js"></script>
    <script src="/static/scripts/chart/node_modules/chart.js/dist/Chart.js"></script>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="analyze">
        <div class="analyze-style a-aside">
            <div class="a-title">
                Analyze Menu
            </div>
            <div class="row col-md-12 menu kcal-menu">
                <div class="eat image col-md-3"></div>
                <div class="col-md-9">Nutrition</div>
            </div>
            <div class="row col-md-12 menu water-menu">
                <div class="water image col-md-3"></div>
                <div class="col-md-9">Water</div>
            </div>
            <div class="row col-md-12 menu steps-menu">
                <div class="steps image col-md-3"></div>
                <div class="col-md-9">Steps</div>
            </div>
            <div class="row col-md-12 menu weight-menu">
                <div class="weight image col-md-3"></div>
                <div class="col-md-9">Weight</div>
            </div>
            <div class="row col-md-12 menu pulse-menu">
                <div class="heart image col-md-3"></div>
                <div class="col-md-9">Pulse</div>
            </div>
        </div>
        <div class="analyze-container analyze-style">
            <div class="title"><span class="name"></span> data</div>
            <div class="options">
                <div class="c-month a-float">1</div>
                <div class="c-year a-float">2</div>
                <div style="clear:both;"></div>
            </div>
            <div class="statistics">
                <p class="max">Max value: <span class="value"></span></p>
                <p class="min">Min value: <span class="value"></span></p>
                <p class="mean">Mean value: <span class="value"></span></p>
            </div>
            <div class="chart-container">
                <canvas id="myChart" width="200" height="500"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}