{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" href="/static/css/calendar.css">
    <link rel="stylesheet" href="/static/css/images.css">
    <script src="/static/scripts/calendar.js"></script>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="c-calendar">
        <div class="c-calendar-style c-aside">
            <div class="c-aside-day">
                <span class="c-aside-num"></span>
                <span class="c-aside-month"></span>
                <span class="c-aside-year"></span>
            </div>
            <div id="today-data">
                <div class="row col-md-12">Calories</div>
                <div class="row col-md-12 kcal-data">
                    <div class="col-md-3 image eat"></div>
                    <div class="col-md-7 data"><span class="current"></span>/<span class="expected"></span></div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row col-md-12 kcal-lose">
                    <div class="col-md-3 image lose"></div>
                    <div class="col-md-7 data">0</div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row col-md-12">Macronutrients</div>
                <div class="row col-md-12 protein-data">
                    <div class="col-md-3 image protein"></div>
                    <div class="col-md-7 data"><span class="current"></span>/<span class="expected"></span> [g]</div>
                    <div class="col-md-2">
                    
                    </div>
                </div>
                <div class="row col-md-12 carbohydrates-data">
                    <div class="col-md-3 image carbohydrates"></div>
                    <div class="col-md-7 data"><span class="current"></span>/<span class="expected"></span> [g]</div>
                    <div class="col-md-2">
                    
                    </div>
                </div>
                <div class="row col-md-12 fats-data">
                    <div class="col-md-3 image fats"></div>
                    <div class="col-md-7 data"><span class="current"></span>/<span class="expected"></span> [g]</div>
                    <div class="col-md-2">
                   
                    </div>
                </div>
                <div class="row col-md-12">Physical Activity</div>
                <div class="row col-md-12 steps-data">
                    <div class="col-md-3 image steps"></div>
                    <div class="col-md-7 data"><span class="current"></span>/<span class="expected"></span></div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row col-md-12 workout-data">
                    <div class="col-md-3 image workout"></div>
                    <div class="col-md-7 data"></div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row col-md-12">Health</div>
                <div class="row col-md-12 water-data">
                    <div class="col-md-3 image water"></div>
                    <div class="col-md-7 data"><span class="current"></span>/<span class="expected"></span></div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row col-md-12 weight-data">
                    <div class="col-md-3 image weight"></div>
                    <div class="col-md-7 data"></div>
                </div>
                <div class="row col-md-12 heart-data">
                    <div class="col-md-3 image heart"></div>
                    <div class="col-md-7 data"></div>
                </div>
                <div>
                    <button class="btn btn-primary btn-block edit-button">Edit data</button>
                </div>
            </div>
            <div id="empty-data">
                <p>No data</p>
                <div>
                    <button class="btn btn-primary btn-block edit-button">Add data to this day</button>
                </div>
            </div>
            <div id="future-data">
                <p>That day has not yet come</p>
            </div>
        </div>
        <div class="c-cal-container c-calendar-style">
            <div class="c-monthyear">
                <div class="c-month c-float">
                    <span class="prev prev-month"><p>&lt</p></span>
                    <div class="c-paginator-month"></div>
                    <span class="next next-month"><p>&gt</p></span>
                </div>
                <div class="c-year c-float">
                    <span class="prev prev-year"><p>&lt</p></span>
                    <div class="c-paginator-year"></div>
                    <span class="next next-year"><p>&gt</p></span>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class='c-cal-row'>
                <div class='c-cal-col'>Mon</div>
                <div class='c-cal-col'>Tue</div>
                <div class='c-cal-col'>Wed</div>
                <div class='c-cal-col'>Thu</div>
                <div class='c-cal-col'>Fri</div>
                <div class='c-cal-col'>Sat</div>
                <div class='c-cal-col'>Sun</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}