{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/images.css">
    <script src="/static/scripts/index.js"></script>
{% endblock %}
{% block content %}
    <div class="row p-4">
        <div class="col-md-3">
            <h1 class="text-center">SUMMARY</h1>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">MEALS</h1>
        </div>
        <div class="col-md-3">
            <h1 class="text-center">ACTIVITY</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="/calendar/"><div class="image calendar"></div></a>
        </div>
        <div class="col-md-9"></div>
    </div>
    <div class="row h-100 p-4">
        <div id="today-data" class="col-md-3">
            <div class="row col-md-12">Calories</div>
            <div class="row col-md-12 kcal-data">
                <div class="col-md-3 image eat"></div>
                <div class="col-md-6 data"><span class="current">{{ day.summary_kcal }}</span>/<span class="expected">{{ day.expected_kcal }}</span></div>
                <div class="col-md-3">
                {% if day.expected_kcal > day.summary_kcal %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12 kcal-lose">
                <div class="col-md-3 image lose"></div>
                <div class="col-md-6 data"> {{ day.lose_kcal }}</div>
                <div class="col-md-3"></div>
            </div>
            <div class="row col-md-12">Macronutrients</div>
            <div class="row col-md-12 protein-data">
                <div class="col-md-3 image protein"></div>
                <div class="col-md-6 data"><span class="current">{{ day.summary_protein }}</span>/<span class="expected">{{ day.expected_protein }}</span> [g]</div>
                <div class="col-md-3">
                {% if day.expected_protein > day.summary_protein %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12 carbohydrates-data">
                <div class="col-md-3 image carbohydrates"></div>
                <div class="col-md-6 data"><span class="current">{{ day.summary_carbohydrates }}</span>/<span class="expected">{{ day.expected_carbohydrates }}</span> [g]</div>
                <div class="col-md-3">
                {% if day.expected_carbohydrates > day.summary_carbohydrates %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12 fats-data">
                <div class="col-md-3 image fats"></div>
                <div class="col-md-6 data"><span class="current">{{ day.summary_fats }}</span>/<span class="expected">{{ day.expected_fats }}</span> [g]</div>
                <div class="col-md-3">
                {% if day.expected_fats > day.summary_fats %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12">Physical Activity</div>
            <div class="row col-md-12 steps-data">
                <div class="col-md-3 image steps"></div>
                <div class="col-md-6 data"><span class="current">{{ day.steps }}</span>/<span class="expected">{{ day.expected_steps }}</span></div>
                <div class="col-md-3">
                {% if day.expected_steps > day.steps %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12 workout-data">
                <div class="col-md-3 image workout"></div>
                <div class="col-md-6 data">{{ workout_time }}</div>
                <div class="col-md-3"></div>
            </div>
            <div class="row col-md-12">Health</div>
            <div class="row col-md-12 water-data">
                <div class="col-md-3 image water"></div>
                <div class="col-md-6 data"><span class="current">{{ day.water }}</span>/<span class="expected">{{ day.expected_water }}</span></div>
                <div class="col-md-3">
                {% if day.expected_water > day.water %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12 weight-data">
                <div class="col-md-3 image weight"></div>
                <div class="col-md-6 data">{{ day.weight }}</div>
                <div class="row">
                    <div class="image minus"></div>
                    <div class="image plus"></div>
                </div>
            </div>
            <div class="row col-md-12 heart-data">
                <div class="col-md-3 image heart"></div>
                <div class="col-md-6 data">{{ day.pulse }}</div>
                <div class="row">
                    <div class="image minus"></div>
                    <div class="image plus"></div>
                </div>
            </div>
        </div>
        <div id="meals" class="col-md-6">
            <div id="breakfast" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image breakfast"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Breakfast</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus size-40"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down size-40"></div></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr/>
            <div id="lunch" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image lunch"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Lunch</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus size-40"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down size-40"></div></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr/>
            <div id="dinner" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image dinner"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Dinner</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus size-40"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down size-40"></div></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr/>
            <div id="other-meals" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image other-meals"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Other Meals</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus size-40"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down size-40"></div></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr/>
            <div id="water" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image water"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Water</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus size-40"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down size-40"></div></div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row details">
                    <div id="bottles">
                        {% for i in full_loop_times %}
                            <div class="full-bottle image size-30"></div>
                        {% endfor %}
                        {% for i in empty_loop_times %}
                            <div class="empty-bottle image size-30"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="activity" class="col-md-3">
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                <input class="form-control search-input" type="text" placeholder="Add activity" aria-label="Search">
                <div id="sports">
                    {% for activity in activities %}
                        <div class="sport-activity sport-activity-id-{{ activity.id }} activity-met-{{ activity.met }}">
                            <div class="{{ activity.image_class }} image size-30"></div>
                            <div class="activity-name">{{ activity.name }}</div>
                            {% if activity.description != None %}
                                <div class="activity-description">{{ activity.description }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div id="trainings">
                {% for training in trainings %}
                    <div id="training-id-{{ training.id}}" class="training">
                        <div class="training-data activity-met-{{ training.physical_activity.met }}">
                            <div class="{{ training.physical_activity.image_class }} image size-40"></div>
                            <div class="activity">{{ training.physical_activity.name }}</div>
                            <div class="training-operations">
                                <div class="image edit size-25 id-{{ training.id }}"></div>
                                <div class="image trash size-25 id-{{ training.id }}"></div>
                                <div class="image down-arrow size-25"></div>
                            </div>
                        </div>
                        <div class="training-details">
                            <div class="training-time">Time: <div class="data">{{ training.time }}</div></div>
                            <div class="training-kcal">Burned kcal: <div class="data">{{ training.lose_kcal }}</div></div>
                            <div class="training-note">{{ training.notes }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-10"></div>
        <div id="menu" class="col-md-2">
            <p><a href="/analyze/"><img src="/static/media/stats.svg"/></a></p>
            <p><a href="/user_panel/"><img src="/static/media/person.svg"/></a></p>
            <form id="logout" method="POST" action="/logout/">
                {% csrf_token %}
                <img onclick="document.getElementById('logout').submit();" src="/static/media/logout.svg"/>
            </form>
        </div>
    </div>

{% endblock %}