{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/scripts/index.js"></script>
{% endblock %}
{% block content %}
{% load mathfilters %}
    <div class="row p-4">
        <div class="col-md-3">
            <h1 class="text-center">PRZEGLĄD</h1>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">POSIŁKI</h1>
        </div>
        <div class="col-md-3">
            <h1 class="text-center">TRENING</h1>
        </div>
    </div>
    <div class="row h-100 p-4">
        <div id="today_data" class="col-md-3">
            <div class="row col-md-12">Kalorie</div>
            <div class="row col-md-12 kcal_data">
                <div class="col-md-3 image eat"></div>
                <div class="col-md-6 data"><span class="current">{{ day.summary_kcal }}</span>/<span class="expected">{{ user.userprofile.kcal }}</span></div>
                <div class="col-md-3">
                {% if user.userprofile.kcal > day.summary_kcal %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-3 image lose"></div>
                <div class="col-md-6 data"> {{ day.summary_kcal }}</div>
                <div class="col-md-3"></div>
            </div>
            <div class="row col-md-12">Makroskładniki</div>
            <div class="row col-md-12 protein_data">
                <div class="col-md-3 image protein"></div>
                <div class="col-md-6 data"><span class="current">{{ day.summary_protein }}</span>/<span class="expected">{{ user.userprofile.protein }}</span> [g]</div>
                <div class="col-md-3">
                {% if user.userprofile.protein > day.summary_protein %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12 carbohydrates_data">
                <div class="col-md-3 image carbohydrates"></div>
                <div class="col-md-6 data"><span class="current">{{ day.summary_carbohydrates }}</span>/<span class="expected">{{ user.userprofile.carbohydrates }}</span> [g]</div>
                <div class="col-md-3">
                {% if user.userprofile.carbohydrates > day.summary_carbohydrates %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12 fats_data">
                <div class="col-md-3 image fats"></div>
                <div class="col-md-6 data"><span class="current">{{ day.summary_fats }}</span>/<span class="expected">{{ user.userprofile.fats }}</span> [g]</div>
                <div class="col-md-3">
                {% if user.userprofile.fats > day.summary_fats %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12">Aktywność fizyczna</div>
            <div class="row col-md-12 steps_data">
                <div class="col-md-3 image steps"></div>
                <div class="col-md-6 data"><span class="current">{{ day.steps }}</span>/<span class="expected">{{ user.userprofile.steps }}</span></div>
                <div class="col-md-3">
                {% if user.userprofile.steps > day.steps %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-3 image workout"></div>
                <div class="col-md-6 data">1:20:00</div>
                <div class="col-md-3"></div>
            </div>
            <div class="row col-md-12">Zdrowie</div>
            <div class="row col-md-12 water_data">
                <div class="col-md-3 image water"></div>
                <div class="col-md-6 data"><span class="current">{{ day.water }}</span>/<span class="expected">{{ user.userprofile.water }}</span></div>
                <div class="col-md-3">
                {% if user.userprofile.water > day.water %}
                    <div class="status bad image"></div>
                {% else %}
                    <div class="status good image"></div>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12 weight_data">
                <div class="col-md-3 image weight"></div>
                <div class="col-md-6 data">{{ day.weight }}</div>
                <div class="row">
                    <div class="image minus"></div>
                    <div class="image plus"></div>
                </div>
            </div>
            <div class="row col-md-12 heart_data">
                <div class="col-md-3 image heart"></div>
                <div class="col-md-6 data">{{ day.pulse }}</div>
                <div class="row">
                    <div class="image minus"></div>
                    <div class="image plus"></div>
                </div>
            </div>
        </div>
        <div id="meals" class="col-md-6">
            <div id="breakfast" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Śniadanie</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down"></div></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr/>
            <div id="lunch" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Obiad</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down"></div></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr/>
            <div id="dinner" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Kolacja</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down"></div></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr/>
            <div id="other_meals" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Inne posiłki</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down"></div></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr/>
            <div id="water" class="text-center">
                <div class="row text-center">
                    <div class="col-md-4 image"></div>
                    <div class="col-md-4 align-self-center">
                        <h3>Woda</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"><div class="image plus"></div></div>
                    <div class="col-md-1"><div class="image arrow arrow-down"></div></div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row details">
                    <ul id="bottles">
                        {% for i in full_loop_times %}
                            <li class="full-bottle image"></li>
                        {% endfor %}
                        {% for i in empty_loop_times %}
                            <li class="empty-bottle image"></li>
                        {% endfor %}
                    </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div id="activity" class="col-md-3">
            <label for="steps">Liczba kroków:</label>
            <input id="age" class="form-control" type="number" name="age" placeholder="Podaj kroki" value="0" required>
            <p>Pozostała liczba kroków: <span id="steps"></span></p>
            <ul>
                <li>Trening 1</li>
                <li>Trening 2</li>
            </ul>
            <p>Spalone kalorie: <span id="kcal_lose"></span></p>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-10"></div>
        <div id="menu" class="col-md-2">
            <a href="/user_panel/"><img src="/static/media/person.svg"/></a>
            <form id="logout" method="POST" action="/logout/">
                {% csrf_token %}
                <img onclick="document.getElementById('logout').submit();" src="/static/media/logout.svg"/>
            </form>
        </div>
    </div>

{% endblock %}