{% extends "base.html" %}
{% block content %}
	<section id="login">
		<div class="row h-100 p-4 p-s-0">
			<div class="col-md-4">

			</div>
			<div class="col-md-4 p-3 my-auto rounded shadow-custom">
				<form id="login_form" class="form" action="/login/" method="post">
					{% csrf_token %}
					<h1 class="text-center text-header">Zaloguj się</h1>
					<div class="form-group">
						<label for="email">E-mail</label>
						<input id="email" class="form-control" type="text" name="email" placeholder="E-mail" required>
						{% for error in form.email.errors %}
						    <p class="invalid_data">[{{ error }}]</p>
						{% endfor %}
					</div>
					<div class="form-group">
						<label for="password">Hasło</label>
						<input id="password" class="form-control" type="password" name="password" placeholder="Hasło" required>
						{% for error in form.password.errors %}
						    <p class="invalid_data">[{{ error }}]</p>
						{% endfor %}
					</div>
					<div class="form-group">
						<p>Nie masz konta? <a href="/register">Zarejestruj się</a></p>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-block active" type="sumbit">Zaloguj</button>
					</div>
				</form>
			</div>
			<div class="col-md-4">

			</div>
    	</div>
    </section>
{% endblock %}