{% extends "base.html" %}
{% block imports %}
    <script src="/static/scripts/product_create.js"></script>
{% endblock %}
{% block content %}
    <section id="custom_form">
        <div class="row h-100 p-4 p-s-0">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4 p-3 p-sm-3 my-auto rounded shadow-custom">
                {% if is_edit %}
                <form id="custom_form" class="form" action="/product/{{product.id}}/" method="post">
                    {% csrf_token %}
                    <input id="next" type="hidden" name="next" value="">
                    <h1 class="text-center text-header">Dodaj produkt</h1>
                    <div class="form-group">
                        <label for="name">Nazwa produktu</label>
                        <input id="name" class="form-control" type="text" name="name" value="{{product.name}}" placeholder="Nazwa" required>
                        {% for error in form.name.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="manufacturer">Producent</label>
                        <input id="manufacturer" class="form-control" type="text" name="manufacturer" value="{{product.manufacturer}}" placeholder="Producent">
                        {% for error in form.manufacturer.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="portion">Porcja [g]</label>
                        <input id="portion" class="form-control" type="number" name="portion" value="{{nutrientes.portion}}" placeholder="Porcja" required>
                        {% for error in form.portion.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="kcal">Kalorie</label>
                        <input id="kcal" class="form-control" type="number" step="0.1" name="kcal" value="{{nutrientes.kcal}}" placeholder="Kalorie" required>
                        {% for error in form.kcal.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="protein">Białko [g]</label>
                        <input id="protein" class="form-control" type="number" step="0.01" name="protein" value="{{nutrientes.protein}}" placeholder="Białko" required>
                        {% for error in form.protein.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="carbohydrates">Węglowodany [g]</label>
                        <input id="carbohydrates" class="form-control" type="number" step="0.01" name="carbohydrates" value="{{nutrientes.carbohydrates}}" placeholder="Węglowoddany" required>
                        {% for error in form.carbohydrates.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="fats">Tłuszcze [g]</label>
                        <input id="fats" class="form-control" type="number" step="0.01" name="fats" value="{{nutrientes.fats}}" placeholder="Tłuszcze" required>
                        {% for error in form.fats.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block active" type="sumbit">Prześlij formularz</button>
                    </div>
                </form>
                {% else %}
                <form id="custom_form" class="form" action="/product/" method="post">
                    {% csrf_token %}
                    <input id="next" type="hidden" name="next" value="">
                    <input id="error" type="hidden" namer="error" value="{{error}}">
                    <h1 class="text-center text-header">Dodaj produkt</h1>
                    <div class="form-group">
                        <label for="name">Nazwa produktu</label>
                        <input id="name" class="form-control" type="text" name="name" placeholder="Nazwa" required>
                        {% for error in form.name.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="manufacturer">Producent</label>
                        <input id="manufacturer" class="form-control" type="text" name="manufacturer" placeholder="Producent">
                        {% for error in form.manufacturer.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="portion">Porcja [g]</label>
                        <input id="portion" class="form-control" type="number" name="portion" placeholder="Porcja" required>
                        {% for error in form.portion.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="kcal">Kalorie</label>
                        <input id="kcal" class="form-control" type="number" step="0.1" name="kcal" placeholder="Kalorie" required>
                        {% for error in form.kcal.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="protein">Białko [g]</label>
                        <input id="protein" class="form-control" type="number" step="0.01" name="protein" placeholder="Białko" required>
                        {% for error in form.protein.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="carbohydrates">Węglowodany [g]</label>
                        <input id="carbohydrates" class="form-control" type="number" step="0.01" name="carbohydrates" placeholder="Węglowoddany" required>
                        {% for error in form.carbohydrates.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="fats">Tłuszcze [g]</label>
                        <input id="fats" class="form-control" type="number" step="0.01" name="fats" placeholder="Tłuszcze" required>
                        {% for error in form.fats.errors %}
                            <p class="invalid_data">[{{ error }}]</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block active" type="sumbit">Prześlij formularz</button>
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="col-lg-4">

            </div>
        </div>
	</section>
{% endblock %}