{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" href="/static/css/user_panel.css">
    <link rel="stylesheet" href="/static/css/images.css">
    <script src="/static/scripts/user_panel.js"></script>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="p-panel">
        <div class="p-panel-style p-aside">
            <h1>User Panel</h1>
            <div id="user-panel-menu">
                <div class="row" onclick="showAccountData()"><p>Account Data</p></div>
                <div class="row" onclick="showProducts()"><p>My Products</p></div>
                <div class="row" onclick="showUserExport()"><p>Data Export</p></div>
            </div>
        </div>
        <div class="p-panel-container p-panel-style">
            <div id="account-data">
                <h1>Account Data</h1>
                <div class ="form-group">
                    <div class="basic-data">
                        <div>E-mail: {{ user }}</div>
                        <div>Hasło: ********<a href="/password_change/">Zmień hasło</a></div>
                    </div>
                    <div class="data-headers">
                        <h3>Personal Data</h3>
                        <h3>Daily Goals</h3>
                    </div>
                    <div class="user-data">
                        <div class="personal-data">
                            <div>Age: {{ user.userprofile.age }}</div>
                            <div>Height: {{ user.userprofile.height }} [cm]</div>
                            <div>Weight: {{ user.userprofile.weight }} [kg]</div>
                            {% if user.userprofile.sex == '1' %}
                                <div>Sex: Male</div>
                            {% else %}
                                <div>Sex: Female</div>
                            {% endif %}
                        </div>
                        <div class="goal-data">
                            <div>Kcal: {{ user.userprofile.kcal }}</div>
                            <div>Protein: {{ user.userprofile.protein }} [g]</div>
                            <div>Carbohydrates: {{ user.userprofile.carbohydrates }} [g]</div>
                            <div>Fats: {{ user.userprofile.fats }} [g]</div>
                            <div>Water: {{ user.userprofile.water }} [ml]</div>
                            <div>Steps: {{ user.userprofile.steps }}</div>
                        </div>
                    </div>
                    <button class="btn btn-primary active" type="sumbit" onclick="location.href='/user_data'">Edit data</button>
                </div>
            </div>
            <div id="user-products">
                <h1>My products</h1>
                <div class="sub-header">
                    <div class="search">
                        <div class="input-group md-form form-sm form-1 pl-0">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                            <input class="form-control search-input" type="text" placeholder="Search" aria-label="Search">
                        </div>
                    </div>
                    <div class="add-button">
                        <button class="btn btn-primary add-product">Add product</button>
                    </div>
                </div>
                <div id="user-products-list">
                    <p></p>
                    <ul class="list products-list"></ul>
                </div>
            </div>
            <div id="user-export">
                <h1>Data export</h1>
                <div class="export-dates">
                    <input type="date" id="start" name="start">
                    <input type="date" id="end" name="end">
                </div>
                <div class="export-checkbox">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="kcal">
                        <label class="form-check-label" for="kcal">Calories</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="protein">
                        <label class="form-check-label" for="protein">Protein</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="carbohydrates">
                        <label class="form-check-label" for="carbohydrates">Carbohydrates</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="fats">
                        <label class="form-check-label" for="fats">Fats</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="activity">
                        <label class="form-check-label" for="activity">Activity time</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="steps">
                        <label class="form-check-label" for="steps">Steps</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="burned-kcal">
                        <label class="form-check-label" for="burned-kcal">Burned calories</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="water">
                        <label class="form-check-label" for="water">Water</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="weight">
                        <label class="form-check-label" for="weight">Weight</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="pulse">
                        <label class="form-check-label" for="pulse">Pulse</label>
                    </div>
                </div>
                <button id="export-btn" class="btn btn-primary active" type="sumbit">Export</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}