{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" href="/static/css/user_panel.css">
    <link rel="stylesheet" href="/static/css/images.css">
    <script src="/static/scripts/user_panel.js"></script>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="p-panel">
        <div class="p-panel-style p-aside">
            <h1>User Panel</h1>
            <div id="user-panel-menu">
                <div class="row" onclick="showAccountData()"><p>Account Data</p></div>
                <div class="row" onclick="showProducts()"><p>My Products</p></div>
                <div class="row" onclick="showMeals()"><p>My Meals</p></div>
            </div>
        </div>
        <div class="p-panel-container p-panel-style">
            <div id="account-data">
                <h1>Account Data</h1>
                <div class ="form-group">
                    <p class="one-line">E-mail: {{ user }}</p><p class="one-line"><a href="/">Zmień adres e-mail</a></p><div style="clear:both;"></div>
                    <p class="one-line">Hasło: ********</p><p class="one-line"><a href="/password_change/">Zmień hasło</a></p><div style="clear:both;"></div>
                    <p>Age: {{ user.userprofile.age }}</p>
                    <p>Height: {{ user.userprofile.height }} [cm]</p>
                </div>
            </div>
            <div id="user-products">
                <h1>Your products</h1>
                <div class="sub-header">
                    <div class="search">
                        <div class="input-group md-form form-sm form-1 pl-0">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                            </div>
                            <input class="form-control search-input" type="text" placeholder="Search" aria-label="Search">
                          </div>
                    </div>
                    <div class="add-button">
                        <button class="btn btn-primary add-product">Add product</button>
                    </div>
                </div>
                <div id="user-products-list">
                    <p></p>
                    <ul class="list products-list"></ul>
                </div>
            </div>
            <div id="user-meals">
                <h1>Your meals</h1>
                <div class="sub-header">
                    <div class="search">
                        <div class="input-group md-form form-sm form-1 pl-0">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                            </div>
                            <input class="form-control search-input" type="text" placeholder="Search" aria-label="Search">
                        </div>
                    </div>
                    <div class="add-button">
                        <button class="btn btn-primary add-meal">Add meal</button>
                    </div>
                </div>
                <div id="user-meals-list">
                    <p></p>
                    <ul class="list meals-list"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}